[submodule "Packages/VetsEngine"]
	path = Packages/VetsEngine
	url = https://github.com/Vetsaiz/vetsengine.common.git
[submodule "Packages/VetsEngine.Sandbox"]
	path = Packages/VetsEngine.Sandbox
	url = https://github.com/Vetsaiz/vetsengine.sandbox.git
[submodule "Packages/VetsEngine.TurnBasedLogic"]
	path = Packages/VetsEngine.TurnBasedLogic
	url = https://github.com/Vetsaiz/vetsengine.turnbasedlogic.git
